#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 935px 437px #ffffffaf, 1966px 560px #ffffffaf,
    237px 1219px #ffffffaf, 1802px 1060px #ffffffaf, 971px 161px #ffffffaf,
    1982px 1489px #ffffffaf, 1619px 1057px #ffffffaf, 557px 1664px #ffffffaf,
    480px 1082px #ffffffaf, 213px 1163px #ffffffaf, 1663px 366px #ffffffaf,
    1397px 1543px #ffffffaf, 1294px 1358px #ffffffaf, 158px 1908px #ffffffaf,
    1148px 1884px #ffffffaf, 653px 1271px #ffffffaf, 1582px 572px #ffffffaf,
    1064px 1947px #ffffffaf, 5px 905px #ffffffaf, 1939px 1660px #ffffffaf,
    1088px 496px #ffffffaf, 1326px 1951px #ffffffaf, 1872px 505px #ffffffaf,
    262px 982px #ffffffaf, 1565px 1445px #ffffffaf, 186px 1122px #ffffffaf,
    394px 41px #ffffffaf, 479px 937px #ffffffaf, 781px 100px #ffffffaf,
    834px 1861px #ffffffaf, 69px 91px #ffffffaf, 869px 1276px #ffffffaf,
    147px 781px #ffffffaf, 183px 583px #ffffffaf, 376px 1095px #ffffffaf,
    1937px 1384px #ffffffaf, 847px 1156px #ffffffaf, 300px 1124px #ffffffaf,
    1866px 1100px #ffffffaf, 106px 1595px #ffffffaf, 1018px 311px #ffffffaf,
    890px 76px #ffffffaf, 1430px 1990px #ffffffaf, 490px 1135px #ffffffaf,
    217px 561px #ffffffaf, 238px 1901px #ffffffaf, 1345px 462px #ffffffaf,
    1020px 1099px #ffffffaf, 1439px 55px #ffffffaf, 1117px 1134px #ffffffaf,
    1253px 306px #ffffffaf, 1550px 689px #ffffffaf, 1353px 1020px #ffffffaf,
    1682px 481px #ffffffaf, 566px 1854px #ffffffaf, 1752px 1122px #ffffffaf,
    118px 1748px #ffffffaf, 1285px 1081px #ffffffaf, 1510px 302px #ffffffaf,
    1287px 203px #ffffffaf, 698px 1919px #ffffffaf, 1275px 524px #ffffffaf,
    116px 628px #ffffffaf, 1164px 1585px #ffffffaf, 1510px 170px #ffffffaf,
    133px 949px #ffffffaf, 1182px 1879px #ffffffaf, 580px 999px #ffffffaf,
    1758px 667px #ffffffaf, 65px 484px #ffffffaf, 1952px 1642px #ffffffaf,
    584px 127px #ffffffaf, 1774px 495px #ffffffaf, 1295px 1019px #ffffffaf,
    1899px 1192px #ffffffaf, 1307px 922px #ffffffaf, 1629px 79px #ffffffaf,
    163px 1881px #ffffffaf, 1758px 369px #ffffffaf, 1454px 1538px #ffffffaf,
    821px 442px #ffffffaf, 1682px 223px #ffffffaf, 1863px 1178px #ffffffaf,
    536px 1383px #ffffffaf, 1142px 1328px #ffffffaf, 1070px 1829px #ffffffaf,
    847px 426px #ffffffaf, 66px 1048px #ffffffaf, 1935px 1376px #ffffffaf,
    967px 1058px #ffffffaf, 488px 330px #ffffffaf, 1027px 323px #ffffffaf,
    55px 1955px #ffffffaf, 1542px 1276px #ffffffaf, 1590px 136px #ffffffaf,
    1521px 1041px #ffffffaf, 306px 499px #ffffffaf, 941px 55px #ffffffaf,
    988px 699px #ffffffaf, 1067px 1003px #ffffffaf, 936px 1139px #ffffffaf,
    411px 1535px #ffffffaf, 174px 894px #ffffffaf, 1423px 496px #ffffffaf,
    447px 496px #ffffffaf, 20px 1910px #ffffffaf, 217px 399px #ffffffaf,
    1759px 1527px #ffffffaf, 1381px 1480px #ffffffaf, 1525px 894px #ffffffaf,
    1739px 941px #ffffffaf, 1658px 130px #ffffffaf, 1251px 1272px #ffffffaf,
    1786px 1860px #ffffffaf, 250px 1681px #ffffffaf, 1048px 1714px #ffffffaf,
    645px 1097px #ffffffaf, 1004px 188px #ffffffaf, 732px 726px #ffffffaf,
    1453px 1591px #ffffffaf, 833px 188px #ffffffaf, 1811px 1637px #ffffffaf,
    704px 1434px #ffffffaf, 1847px 1441px #ffffffaf, 1929px 1924px #ffffffaf,
    1158px 1742px #ffffffaf, 1123px 749px #ffffffaf, 1954px 39px #ffffffaf,
    442px 682px #ffffffaf, 489px 1026px #ffffffaf, 371px 7px #ffffffaf,
    953px 936px #ffffffaf, 148px 1020px #ffffffaf, 1598px 454px #ffffffaf,
    1198px 1189px #ffffffaf, 1120px 327px #ffffffaf, 1680px 1662px #ffffffaf,
    1110px 1907px #ffffffaf, 1450px 1432px #ffffffaf, 1427px 117px #ffffffaf,
    217px 1212px #ffffffaf, 929px 1771px #ffffffaf, 1099px 795px #ffffffaf,
    486px 601px #ffffffaf, 933px 1862px #ffffffaf, 253px 1527px #ffffffaf,
    1038px 1155px #ffffffaf, 232px 414px #ffffffaf, 905px 1509px #ffffffaf,
    1133px 1986px #ffffffaf, 754px 930px #ffffffaf, 1522px 1476px #ffffffaf,
    1452px 3px #ffffffaf, 360px 1066px #ffffffaf, 86px 1654px #ffffffaf,
    488px 170px #ffffffaf, 1811px 1972px #ffffffaf, 1162px 684px #ffffffaf,
    825px 139px #ffffffaf, 533px 999px #ffffffaf, 1624px 1112px #ffffffaf,
    1850px 1844px #ffffffaf, 1062px 88px #ffffffaf, 411px 58px #ffffffaf,
    192px 1173px #ffffffaf, 190px 1265px #ffffffaf, 235px 1528px #ffffffaf,
    495px 1203px #ffffffaf, 1536px 170px #ffffffaf, 737px 95px #ffffffaf,
    801px 730px #ffffffaf, 1600px 38px #ffffffaf, 427px 1291px #ffffffaf,
    242px 1732px #ffffffaf, 1544px 483px #ffffffaf, 1571px 1392px #ffffffaf,
    1262px 680px #ffffffaf, 690px 1797px #ffffffaf, 856px 1804px #ffffffaf,
    40px 1438px #ffffffaf, 1693px 1899px #ffffffaf, 146px 1446px #ffffffaf,
    236px 832px #ffffffaf, 407px 1692px #ffffffaf, 495px 492px #ffffffaf,
    1681px 556px #ffffffaf, 531px 1486px #ffffffaf, 1268px 1646px #ffffffaf,
    1331px 948px #ffffffaf, 1097px 281px #ffffffaf, 1662px 543px #ffffffaf,
    57px 915px #ffffffaf, 1423px 1788px #ffffffaf, 12px 1577px #ffffffaf,
    535px 1673px #ffffffaf, 1719px 1661px #ffffffaf, 1375px 1991px #ffffffaf,
    560px 373px #ffffffaf, 1432px 1285px #ffffffaf, 725px 1114px #ffffffaf,
    762px 991px #ffffffaf, 1382px 1653px #ffffffaf, 1472px 467px #ffffffaf,
    1117px 1488px #ffffffaf, 1534px 231px #ffffffaf, 553px 1518px #ffffffaf,
    372px 1902px #ffffffaf, 1565px 23px #ffffffaf, 808px 1714px #ffffffaf,
    1168px 1254px #ffffffaf, 1729px 4px #ffffffaf, 1006px 1083px #ffffffaf,
    1690px 709px #ffffffaf, 1034px 755px #ffffffaf, 94px 417px #ffffffaf,
    1936px 631px #ffffffaf, 587px 532px #ffffffaf, 73px 1902px #ffffffaf,
    348px 559px #ffffffaf, 466px 1606px #ffffffaf, 436px 1778px #ffffffaf,
    1010px 266px #ffffffaf, 753px 1884px #ffffffaf, 1685px 378px #ffffffaf,
    223px 766px #ffffffaf, 544px 1467px #ffffffaf, 1868px 1616px #ffffffaf,
    996px 1899px #ffffffaf, 916px 1266px #ffffffaf, 1484px 718px #ffffffaf,
    1385px 720px #ffffffaf, 1799px 1148px #ffffffaf, 1057px 1824px #ffffffaf,
    339px 1208px #ffffffaf, 1356px 585px #ffffffaf, 1235px 795px #ffffffaf,
    1905px 1774px #ffffffaf, 590px 1880px #ffffffaf, 828px 322px #ffffffaf,
    1609px 140px #ffffffaf, 64px 532px #ffffffaf, 617px 1633px #ffffffaf,
    485px 1879px #ffffffaf, 292px 1893px #ffffffaf, 1257px 1079px #ffffffaf,
    675px 1477px #ffffffaf, 466px 505px #ffffffaf, 1019px 1257px #ffffffaf,
    918px 263px #ffffffaf, 487px 1585px #ffffffaf, 1533px 1604px #ffffffaf,
    54px 1231px #ffffffaf, 1197px 1685px #ffffffaf, 389px 1413px #ffffffaf,
    1463px 394px #ffffffaf, 437px 1022px #ffffffaf, 801px 1089px #ffffffaf,
    821px 99px #ffffffaf, 583px 967px #ffffffaf, 570px 1073px #ffffffaf,
    1290px 1943px #ffffffaf, 1034px 769px #ffffffaf, 1699px 259px #ffffffaf,
    220px 698px #ffffffaf, 1035px 1820px #ffffffaf, 1331px 162px #ffffffaf,
    375px 325px #ffffffaf, 1816px 120px #ffffffaf, 575px 1029px #ffffffaf,
    57px 395px #ffffffaf, 1534px 638px #ffffffaf, 859px 500px #ffffffaf,
    483px 1496px #ffffffaf, 1416px 616px #ffffffaf, 1316px 467px #ffffffaf,
    1490px 1593px #ffffffaf, 659px 1565px #ffffffaf, 1039px 289px #ffffffaf,
    1444px 271px #ffffffaf, 993px 1208px #ffffffaf, 419px 933px #ffffffaf,
    1363px 1383px #ffffffaf, 563px 1575px #ffffffaf, 1968px 950px #ffffffaf,
    1416px 414px #ffffffaf, 1168px 786px #ffffffaf, 1976px 557px #ffffffaf,
    1162px 1345px #ffffffaf, 531px 1225px #ffffffaf, 39px 1749px #ffffffaf,
    842px 1701px #ffffffaf, 327px 1148px #ffffffaf, 387px 575px #ffffffaf,
    1498px 288px #ffffffaf, 932px 359px #ffffffaf, 909px 1493px #ffffffaf,
    1412px 1162px #ffffffaf, 1473px 415px #ffffffaf, 244px 1034px #ffffffaf,
    1501px 110px #ffffffaf, 196px 696px #ffffffaf, 907px 682px #ffffffaf,
    54px 715px #ffffffaf, 1874px 1160px #ffffffaf, 956px 90px #ffffffaf,
    156px 1879px #ffffffaf, 206px 1967px #ffffffaf, 405px 295px #ffffffaf,
    1121px 1192px #ffffffaf, 593px 1135px #ffffffaf, 207px 178px #ffffffaf,
    865px 1139px #ffffffaf, 622px 1482px #ffffffaf, 926px 110px #ffffffaf,
    1791px 863px #ffffffaf, 1669px 333px #ffffffaf, 446px 1797px #ffffffaf,
    1494px 1770px #ffffffaf, 831px 734px #ffffffaf, 1024px 1338px #ffffffaf,
    1789px 36px #ffffffaf, 1362px 1663px #ffffffaf, 928px 1038px #ffffffaf,
    1852px 1935px #ffffffaf, 1394px 1588px #ffffffaf, 1527px 1879px #ffffffaf,
    11px 677px #ffffffaf, 496px 271px #ffffffaf, 1588px 708px #ffffffaf,
    1559px 264px #ffffffaf, 599px 1119px #ffffffaf, 826px 757px #ffffffaf,
    1923px 119px #ffffffaf, 247px 454px #ffffffaf, 734px 1170px #ffffffaf,
    1182px 789px #ffffffaf, 1485px 1497px #ffffffaf, 611px 1869px #ffffffaf,
    1375px 649px #ffffffaf, 705px 1221px #ffffffaf, 1082px 24px #ffffffaf,
    196px 580px #ffffffaf, 798px 1058px #ffffffaf, 1427px 1707px #ffffffaf,
    221px 103px #ffffffaf, 1048px 1984px #ffffffaf, 1228px 136px #ffffffaf,
    645px 933px #ffffffaf, 1843px 442px #ffffffaf, 633px 817px #ffffffaf,
    1538px 136px #ffffffaf, 529px 1373px #ffffffaf, 776px 457px #ffffffaf,
    625px 1732px #ffffffaf, 132px 661px #ffffffaf, 1943px 137px #ffffffaf,
    943px 1688px #ffffffaf, 1827px 184px #ffffffaf, 645px 1643px #ffffffaf,
    1896px 679px #ffffffaf, 167px 183px #ffffffaf, 870px 138px #ffffffaf,
    487px 1788px #ffffffaf, 500px 1766px #ffffffaf, 1988px 1587px #ffffffaf,
    402px 60px #ffffffaf, 1831px 1762px #ffffffaf, 1417px 1204px #ffffffaf,
    484px 1266px #ffffffaf, 1634px 1079px #ffffffaf, 1606px 59px #ffffffaf,
    785px 1729px #ffffffaf, 451px 1887px #ffffffaf, 1151px 62px #ffffffaf,
    394px 952px #ffffffaf, 1239px 1474px #ffffffaf, 1934px 1942px #ffffffaf,
    1947px 1306px #ffffffaf, 1103px 70px #ffffffaf, 1726px 1402px #ffffffaf,
    154px 510px #ffffffaf, 1617px 922px #ffffffaf, 1453px 489px #ffffffaf,
    258px 73px #ffffffaf, 57px 127px #ffffffaf, 1736px 850px #ffffffaf,
    1177px 1853px #ffffffaf, 1209px 1705px #ffffffaf, 122px 1362px #ffffffaf,
    1266px 976px #ffffffaf, 1708px 313px #ffffffaf, 1897px 1938px #ffffffaf,
    1146px 660px #ffffffaf, 818px 493px #ffffffaf, 1610px 913px #ffffffaf,
    403px 1275px #ffffffaf, 548px 1815px #ffffffaf, 981px 1588px #ffffffaf,
    1108px 1075px #ffffffaf, 414px 1809px #ffffffaf, 1613px 1108px #ffffffaf,
    405px 438px #ffffffaf, 1692px 684px #ffffffaf, 794px 857px #ffffffaf,
    1369px 304px #ffffffaf, 247px 1360px #ffffffaf, 1473px 1476px #ffffffaf,
    1144px 1901px #ffffffaf, 167px 1077px #ffffffaf, 1362px 507px #ffffffaf,
    867px 221px #ffffffaf, 1865px 764px #ffffffaf, 1316px 1308px #ffffffaf,
    1829px 983px #ffffffaf, 149px 1263px #ffffffaf, 232px 872px #ffffffaf,
    829px 98px #ffffffaf, 1957px 605px #ffffffaf, 1181px 1673px #ffffffaf,
    1083px 494px #ffffffaf, 306px 819px #ffffffaf, 806px 1969px #ffffffaf,
    825px 192px #ffffffaf, 1184px 750px #ffffffaf, 1934px 1347px #ffffffaf,
    949px 331px #ffffffaf, 300px 534px #ffffffaf, 1778px 1411px #ffffffaf,
    568px 1743px #ffffffaf, 1654px 1371px #ffffffaf, 399px 1423px #ffffffaf,
    1940px 1860px #ffffffaf, 196px 774px #ffffffaf, 1888px 563px #ffffffaf,
    444px 153px #ffffffaf, 1926px 35px #ffffffaf, 540px 1035px #ffffffaf,
    1267px 1759px #ffffffaf, 1479px 1030px #ffffffaf, 154px 1038px #ffffffaf,
    268px 1616px #ffffffaf, 1978px 1481px #ffffffaf, 1594px 384px #ffffffaf,
    1499px 1061px #ffffffaf, 1946px 1248px #ffffffaf, 1903px 1000px #ffffffaf,
    1174px 223px #ffffffaf, 1455px 1235px #ffffffaf, 1789px 576px #ffffffaf,
    779px 1707px #ffffffaf, 1249px 753px #ffffffaf, 195px 1696px #ffffffaf,
    1422px 1400px #ffffffaf, 944px 241px #ffffffaf, 2px 1767px #ffffffaf,
    1615px 1282px #ffffffaf, 1513px 1655px #ffffffaf, 223px 1807px #ffffffaf,
    852px 1234px #ffffffaf, 310px 896px #ffffffaf, 1831px 1222px #ffffffaf,
    1597px 430px #ffffffaf, 1601px 1270px #ffffffaf, 365px 521px #ffffffaf,
    764px 729px #ffffffaf, 1671px 1888px #ffffffaf, 1509px 285px #ffffffaf,
    305px 1646px #ffffffaf, 1361px 962px #ffffffaf, 90px 526px #ffffffaf,
    1626px 595px #ffffffaf, 82px 1318px #ffffffaf, 502px 1609px #ffffffaf,
    180px 1970px #ffffffaf, 1466px 1552px #ffffffaf, 1083px 271px #ffffffaf,
    50px 1027px #ffffffaf, 1506px 438px #ffffffaf, 1864px 71px #ffffffaf,
    1332px 509px #ffffffaf, 952px 654px #ffffffaf, 1005px 322px #ffffffaf,
    1693px 1994px #ffffffaf, 585px 1412px #ffffffaf, 1539px 764px #ffffffaf,
    1580px 414px #ffffffaf, 1572px 1858px #ffffffaf, 633px 82px #ffffffaf,
    1740px 1687px #ffffffaf, 257px 1982px #ffffffaf, 1252px 24px #ffffffaf,
    231px 1873px #ffffffaf, 1485px 1903px #ffffffaf, 282px 1186px #ffffffaf,
    392px 1703px #ffffffaf, 1072px 1329px #ffffffaf, 743px 1642px #ffffffaf,
    1087px 1743px #ffffffaf, 1898px 1335px #ffffffaf, 142px 570px #ffffffaf,
    1943px 386px #ffffffaf, 447px 1944px #ffffffaf, 899px 1274px #ffffffaf,
    1935px 388px #ffffffaf, 1823px 919px #ffffffaf, 1600px 277px #ffffffaf,
    877px 967px #ffffffaf, 946px 946px #ffffffaf, 1708px 588px #ffffffaf,
    24px 982px #ffffffaf, 7px 1252px #ffffffaf, 1603px 552px #ffffffaf,
    1544px 187px #ffffffaf, 1670px 203px #ffffffaf, 405px 1963px #ffffffaf,
    755px 1556px #ffffffaf, 1006px 1474px #ffffffaf, 1496px 97px #ffffffaf,
    450px 1099px #ffffffaf, 1112px 1722px #ffffffaf, 227px 1013px #ffffffaf,
    1749px 1717px #ffffffaf, 1169px 1357px #ffffffaf, 1563px 1131px #ffffffaf,
    681px 31px #ffffffaf, 1144px 1513px #ffffffaf, 1818px 528px #ffffffaf,
    1787px 1568px #ffffffaf, 1004px 1508px #ffffffaf, 1050px 905px #ffffffaf,
    793px 1152px #ffffffaf, 1527px 1851px #ffffffaf, 1926px 371px #ffffffaf,
    1961px 1013px #ffffffaf, 1783px 334px #ffffffaf, 925px 232px #ffffffaf,
    1208px 250px #ffffffaf, 735px 826px #ffffffaf, 1558px 1786px #ffffffaf,
    1305px 1761px #ffffffaf, 1437px 262px #ffffffaf, 1971px 1981px #ffffffaf,
    174px 660px #ffffffaf, 1621px 668px #ffffffaf, 1112px 559px #ffffffaf,
    200px 1495px #ffffffaf, 1332px 1170px #ffffffaf, 600px 1589px #ffffffaf,
    231px 926px #ffffffaf, 1674px 603px #ffffffaf, 1845px 390px #ffffffaf,
    569px 279px #ffffffaf, 314px 533px #ffffffaf, 494px 1765px #ffffffaf,
    1640px 850px #ffffffaf, 624px 961px #ffffffaf, 781px 1097px #ffffffaf,
    1199px 1643px #ffffffaf, 165px 938px #ffffffaf, 670px 1116px #ffffffaf,
    608px 1393px #ffffffaf, 583px 1062px #ffffffaf, 1666px 1082px #ffffffaf,
    911px 1390px #ffffffaf, 1735px 1867px #ffffffaf, 1717px 1966px #ffffffaf,
    905px 1080px #ffffffaf, 1725px 120px #ffffffaf, 145px 819px #ffffffaf,
    957px 352px #ffffffaf, 628px 228px #ffffffaf, 821px 974px #ffffffaf,
    1151px 1208px #ffffffaf, 1803px 1800px #ffffffaf, 616px 1471px #ffffffaf,
    1512px 1785px #ffffffaf, 131px 1983px #ffffffaf, 583px 836px #ffffffaf,
    1095px 197px #ffffffaf, 638px 1371px #ffffffaf, 1938px 1758px #ffffffaf,
    1089px 597px #ffffffaf, 232px 124px #ffffffaf, 1267px 1659px #ffffffaf,
    135px 982px #ffffffaf, 838px 1591px #ffffffaf, 628px 1790px #ffffffaf,
    905px 272px #ffffffaf, 114px 1380px #ffffffaf, 1406px 874px #ffffffaf,
    894px 1287px #ffffffaf, 594px 1208px #ffffffaf, 996px 997px #ffffffaf,
    1572px 1109px #ffffffaf, 1191px 611px #ffffffaf, 1759px 1290px #ffffffaf,
    819px 906px #ffffffaf, 748px 910px #ffffffaf, 1125px 1627px #ffffffaf,
    766px 744px #ffffffaf, 1647px 99px #ffffffaf, 1289px 1077px #ffffffaf,
    498px 1817px #ffffffaf, 1140px 354px #ffffffaf, 1899px 1950px #ffffffaf,
    800px 1244px #ffffffaf, 804px 1880px #ffffffaf, 1896px 1095px #ffffffaf,
    696px 1089px #ffffffaf, 1379px 1089px #ffffffaf, 929px 1800px #ffffffaf,
    188px 505px #ffffffaf, 1494px 640px #ffffffaf, 1977px 1076px #ffffffaf,
    394px 240px #ffffffaf, 49px 954px #ffffffaf, 706px 1585px #ffffffaf,
    631px 1910px #ffffffaf, 1928px 1829px #ffffffaf, 373px 392px #ffffffaf,
    978px 783px #ffffffaf, 425px 963px #ffffffaf, 1565px 1673px #ffffffaf,
    984px 507px #ffffffaf, 484px 299px #ffffffaf, 188px 491px #ffffffaf,
    1753px 1834px #ffffffaf, 1732px 1674px #ffffffaf, 1252px 95px #ffffffaf,
    24px 322px #ffffffaf, 1499px 759px #ffffffaf, 563px 1868px #ffffffaf,
    1578px 1103px #ffffffaf, 1395px 1504px #ffffffaf, 16px 803px #ffffffaf,
    1158px 780px #ffffffaf, 104px 524px #ffffffaf, 873px 531px #ffffffaf,
    1375px 1009px #ffffffaf, 738px 621px #ffffffaf, 875px 862px #ffffffaf,
    941px 1218px #ffffffaf, 1390px 794px #ffffffaf, 1945px 637px #ffffffaf,
    1176px 18px #ffffffaf, 312px 1989px #ffffffaf, 669px 679px #ffffffaf,
    387px 544px #ffffffaf, 1183px 708px #ffffffaf, 1847px 1686px #ffffffaf,
    786px 1097px #ffffffaf, 173px 1035px #ffffffaf, 1301px 1729px #ffffffaf,
    652px 1600px #ffffffaf, 1321px 222px #ffffffaf, 486px 1781px #ffffffaf,
    232px 1391px #ffffffaf, 302px 816px #ffffffaf, 493px 742px #ffffffaf,
    1428px 932px #ffffffaf, 1876px 653px #ffffffaf, 1347px 1184px #ffffffaf,
    320px 1025px #ffffffaf, 71px 1926px #ffffffaf, 245px 1732px #ffffffaf,
    34px 1210px #ffffffaf, 1586px 881px #ffffffaf, 1975px 156px #ffffffaf,
    1472px 1266px #ffffffaf, 1294px 1706px #ffffffaf, 1357px 1237px #ffffffaf,
    851px 1742px #ffffffaf, 635px 522px #ffffffaf, 315px 1579px #ffffffaf,
    118px 189px #ffffffaf, 484px 391px #ffffffaf, 378px 81px #ffffffaf,
    1124px 1684px #ffffffaf, 1684px 1885px #ffffffaf, 1815px 485px #ffffffaf,
    1232px 339px #ffffffaf, 846px 1527px #ffffffaf, 202px 1558px #ffffffaf,
    1080px 1556px #ffffffaf, 1735px 1384px #ffffffaf, 1931px 762px #ffffffaf,
    604px 1119px #ffffffaf, 1673px 1471px #ffffffaf, 1856px 1484px #ffffffaf,
    155px 818px #ffffffaf, 1026px 1178px #ffffffaf, 1425px 719px #ffffffaf,
    799px 663px #ffffffaf, 905px 223px #ffffffaf, 1325px 1062px #ffffffaf,
    420px 242px #ffffffaf, 1983px 1294px #ffffffaf, 620px 1703px #ffffffaf,
    322px 1724px #ffffffaf, 373px 1847px #ffffffaf;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 935px 437px #ffffffaf, 1966px 560px #ffffffaf,
    237px 1219px #ffffffaf, 1802px 1060px #ffffffaf, 971px 161px #ffffffaf,
    1982px 1489px #ffffffaf, 1619px 1057px #ffffffaf, 557px 1664px #ffffffaf,
    480px 1082px #ffffffaf, 213px 1163px #ffffffaf, 1663px 366px #ffffffaf,
    1397px 1543px #ffffffaf, 1294px 1358px #ffffffaf, 158px 1908px #ffffffaf,
    1148px 1884px #ffffffaf, 653px 1271px #ffffffaf, 1582px 572px #ffffffaf,
    1064px 1947px #ffffffaf, 5px 905px #ffffffaf, 1939px 1660px #ffffffaf,
    1088px 496px #ffffffaf, 1326px 1951px #ffffffaf, 1872px 505px #ffffffaf,
    262px 982px #ffffffaf, 1565px 1445px #ffffffaf, 186px 1122px #ffffffaf,
    394px 41px #ffffffaf, 479px 937px #ffffffaf, 781px 100px #ffffffaf,
    834px 1861px #ffffffaf, 69px 91px #ffffffaf, 869px 1276px #ffffffaf,
    147px 781px #ffffffaf, 183px 583px #ffffffaf, 376px 1095px #ffffffaf,
    1937px 1384px #ffffffaf, 847px 1156px #ffffffaf, 300px 1124px #ffffffaf,
    1866px 1100px #ffffffaf, 106px 1595px #ffffffaf, 1018px 311px #ffffffaf,
    890px 76px #ffffffaf, 1430px 1990px #ffffffaf, 490px 1135px #ffffffaf,
    217px 561px #ffffffaf, 238px 1901px #ffffffaf, 1345px 462px #ffffffaf,
    1020px 1099px #ffffffaf, 1439px 55px #ffffffaf, 1117px 1134px #ffffffaf,
    1253px 306px #ffffffaf, 1550px 689px #ffffffaf, 1353px 1020px #ffffffaf,
    1682px 481px #ffffffaf, 566px 1854px #ffffffaf, 1752px 1122px #ffffffaf,
    118px 1748px #ffffffaf, 1285px 1081px #ffffffaf, 1510px 302px #ffffffaf,
    1287px 203px #ffffffaf, 698px 1919px #ffffffaf, 1275px 524px #ffffffaf,
    116px 628px #ffffffaf, 1164px 1585px #ffffffaf, 1510px 170px #ffffffaf,
    133px 949px #ffffffaf, 1182px 1879px #ffffffaf, 580px 999px #ffffffaf,
    1758px 667px #ffffffaf, 65px 484px #ffffffaf, 1952px 1642px #ffffffaf,
    584px 127px #ffffffaf, 1774px 495px #ffffffaf, 1295px 1019px #ffffffaf,
    1899px 1192px #ffffffaf, 1307px 922px #ffffffaf, 1629px 79px #ffffffaf,
    163px 1881px #ffffffaf, 1758px 369px #ffffffaf, 1454px 1538px #ffffffaf,
    821px 442px #ffffffaf, 1682px 223px #ffffffaf, 1863px 1178px #ffffffaf,
    536px 1383px #ffffffaf, 1142px 1328px #ffffffaf, 1070px 1829px #ffffffaf,
    847px 426px #ffffffaf, 66px 1048px #ffffffaf, 1935px 1376px #ffffffaf,
    967px 1058px #ffffffaf, 488px 330px #ffffffaf, 1027px 323px #ffffffaf,
    55px 1955px #ffffffaf, 1542px 1276px #ffffffaf, 1590px 136px #ffffffaf,
    1521px 1041px #ffffffaf, 306px 499px #ffffffaf, 941px 55px #ffffffaf,
    988px 699px #ffffffaf, 1067px 1003px #ffffffaf, 936px 1139px #ffffffaf,
    411px 1535px #ffffffaf, 174px 894px #ffffffaf, 1423px 496px #ffffffaf,
    447px 496px #ffffffaf, 20px 1910px #ffffffaf, 217px 399px #ffffffaf,
    1759px 1527px #ffffffaf, 1381px 1480px #ffffffaf, 1525px 894px #ffffffaf,
    1739px 941px #ffffffaf, 1658px 130px #ffffffaf, 1251px 1272px #ffffffaf,
    1786px 1860px #ffffffaf, 250px 1681px #ffffffaf, 1048px 1714px #ffffffaf,
    645px 1097px #ffffffaf, 1004px 188px #ffffffaf, 732px 726px #ffffffaf,
    1453px 1591px #ffffffaf, 833px 188px #ffffffaf, 1811px 1637px #ffffffaf,
    704px 1434px #ffffffaf, 1847px 1441px #ffffffaf, 1929px 1924px #ffffffaf,
    1158px 1742px #ffffffaf, 1123px 749px #ffffffaf, 1954px 39px #ffffffaf,
    442px 682px #ffffffaf, 489px 1026px #ffffffaf, 371px 7px #ffffffaf,
    953px 936px #ffffffaf, 148px 1020px #ffffffaf, 1598px 454px #ffffffaf,
    1198px 1189px #ffffffaf, 1120px 327px #ffffffaf, 1680px 1662px #ffffffaf,
    1110px 1907px #ffffffaf, 1450px 1432px #ffffffaf, 1427px 117px #ffffffaf,
    217px 1212px #ffffffaf, 929px 1771px #ffffffaf, 1099px 795px #ffffffaf,
    486px 601px #ffffffaf, 933px 1862px #ffffffaf, 253px 1527px #ffffffaf,
    1038px 1155px #ffffffaf, 232px 414px #ffffffaf, 905px 1509px #ffffffaf,
    1133px 1986px #ffffffaf, 754px 930px #ffffffaf, 1522px 1476px #ffffffaf,
    1452px 3px #ffffffaf, 360px 1066px #ffffffaf, 86px 1654px #ffffffaf,
    488px 170px #ffffffaf, 1811px 1972px #ffffffaf, 1162px 684px #ffffffaf,
    825px 139px #ffffffaf, 533px 999px #ffffffaf, 1624px 1112px #ffffffaf,
    1850px 1844px #ffffffaf, 1062px 88px #ffffffaf, 411px 58px #ffffffaf,
    192px 1173px #ffffffaf, 190px 1265px #ffffffaf, 235px 1528px #ffffffaf,
    495px 1203px #ffffffaf, 1536px 170px #ffffffaf, 737px 95px #ffffffaf,
    801px 730px #ffffffaf, 1600px 38px #ffffffaf, 427px 1291px #ffffffaf,
    242px 1732px #ffffffaf, 1544px 483px #ffffffaf, 1571px 1392px #ffffffaf,
    1262px 680px #ffffffaf, 690px 1797px #ffffffaf, 856px 1804px #ffffffaf,
    40px 1438px #ffffffaf, 1693px 1899px #ffffffaf, 146px 1446px #ffffffaf,
    236px 832px #ffffffaf, 407px 1692px #ffffffaf, 495px 492px #ffffffaf,
    1681px 556px #ffffffaf, 531px 1486px #ffffffaf, 1268px 1646px #ffffffaf,
    1331px 948px #ffffffaf, 1097px 281px #ffffffaf, 1662px 543px #ffffffaf,
    57px 915px #ffffffaf, 1423px 1788px #ffffffaf, 12px 1577px #ffffffaf,
    535px 1673px #ffffffaf, 1719px 1661px #ffffffaf, 1375px 1991px #ffffffaf,
    560px 373px #ffffffaf, 1432px 1285px #ffffffaf, 725px 1114px #ffffffaf,
    762px 991px #ffffffaf, 1382px 1653px #ffffffaf, 1472px 467px #ffffffaf,
    1117px 1488px #ffffffaf, 1534px 231px #ffffffaf, 553px 1518px #ffffffaf,
    372px 1902px #ffffffaf, 1565px 23px #ffffffaf, 808px 1714px #ffffffaf,
    1168px 1254px #ffffffaf, 1729px 4px #ffffffaf, 1006px 1083px #ffffffaf,
    1690px 709px #ffffffaf, 1034px 755px #ffffffaf, 94px 417px #ffffffaf,
    1936px 631px #ffffffaf, 587px 532px #ffffffaf, 73px 1902px #ffffffaf,
    348px 559px #ffffffaf, 466px 1606px #ffffffaf, 436px 1778px #ffffffaf,
    1010px 266px #ffffffaf, 753px 1884px #ffffffaf, 1685px 378px #ffffffaf,
    223px 766px #ffffffaf, 544px 1467px #ffffffaf, 1868px 1616px #ffffffaf,
    996px 1899px #ffffffaf, 916px 1266px #ffffffaf, 1484px 718px #ffffffaf,
    1385px 720px #ffffffaf, 1799px 1148px #ffffffaf, 1057px 1824px #ffffffaf,
    339px 1208px #ffffffaf, 1356px 585px #ffffffaf, 1235px 795px #ffffffaf,
    1905px 1774px #ffffffaf, 590px 1880px #ffffffaf, 828px 322px #ffffffaf,
    1609px 140px #ffffffaf, 64px 532px #ffffffaf, 617px 1633px #ffffffaf,
    485px 1879px #ffffffaf, 292px 1893px #ffffffaf, 1257px 1079px #ffffffaf,
    675px 1477px #ffffffaf, 466px 505px #ffffffaf, 1019px 1257px #ffffffaf,
    918px 263px #ffffffaf, 487px 1585px #ffffffaf, 1533px 1604px #ffffffaf,
    54px 1231px #ffffffaf, 1197px 1685px #ffffffaf, 389px 1413px #ffffffaf,
    1463px 394px #ffffffaf, 437px 1022px #ffffffaf, 801px 1089px #ffffffaf,
    821px 99px #ffffffaf, 583px 967px #ffffffaf, 570px 1073px #ffffffaf,
    1290px 1943px #ffffffaf, 1034px 769px #ffffffaf, 1699px 259px #ffffffaf,
    220px 698px #ffffffaf, 1035px 1820px #ffffffaf, 1331px 162px #ffffffaf,
    375px 325px #ffffffaf, 1816px 120px #ffffffaf, 575px 1029px #ffffffaf,
    57px 395px #ffffffaf, 1534px 638px #ffffffaf, 859px 500px #ffffffaf,
    483px 1496px #ffffffaf, 1416px 616px #ffffffaf, 1316px 467px #ffffffaf,
    1490px 1593px #ffffffaf, 659px 1565px #ffffffaf, 1039px 289px #ffffffaf,
    1444px 271px #ffffffaf, 993px 1208px #ffffffaf, 419px 933px #ffffffaf,
    1363px 1383px #ffffffaf, 563px 1575px #ffffffaf, 1968px 950px #ffffffaf,
    1416px 414px #ffffffaf, 1168px 786px #ffffffaf, 1976px 557px #ffffffaf,
    1162px 1345px #ffffffaf, 531px 1225px #ffffffaf, 39px 1749px #ffffffaf,
    842px 1701px #ffffffaf, 327px 1148px #ffffffaf, 387px 575px #ffffffaf,
    1498px 288px #ffffffaf, 932px 359px #ffffffaf, 909px 1493px #ffffffaf,
    1412px 1162px #ffffffaf, 1473px 415px #ffffffaf, 244px 1034px #ffffffaf,
    1501px 110px #ffffffaf, 196px 696px #ffffffaf, 907px 682px #ffffffaf,
    54px 715px #ffffffaf, 1874px 1160px #ffffffaf, 956px 90px #ffffffaf,
    156px 1879px #ffffffaf, 206px 1967px #ffffffaf, 405px 295px #ffffffaf,
    1121px 1192px #ffffffaf, 593px 1135px #ffffffaf, 207px 178px #ffffffaf,
    865px 1139px #ffffffaf, 622px 1482px #ffffffaf, 926px 110px #ffffffaf,
    1791px 863px #ffffffaf, 1669px 333px #ffffffaf, 446px 1797px #ffffffaf,
    1494px 1770px #ffffffaf, 831px 734px #ffffffaf, 1024px 1338px #ffffffaf,
    1789px 36px #ffffffaf, 1362px 1663px #ffffffaf, 928px 1038px #ffffffaf,
    1852px 1935px #ffffffaf, 1394px 1588px #ffffffaf, 1527px 1879px #ffffffaf,
    11px 677px #ffffffaf, 496px 271px #ffffffaf, 1588px 708px #ffffffaf,
    1559px 264px #ffffffaf, 599px 1119px #ffffffaf, 826px 757px #ffffffaf,
    1923px 119px #ffffffaf, 247px 454px #ffffffaf, 734px 1170px #ffffffaf,
    1182px 789px #ffffffaf, 1485px 1497px #ffffffaf, 611px 1869px #ffffffaf,
    1375px 649px #ffffffaf, 705px 1221px #ffffffaf, 1082px 24px #ffffffaf,
    196px 580px #ffffffaf, 798px 1058px #ffffffaf, 1427px 1707px #ffffffaf,
    221px 103px #ffffffaf, 1048px 1984px #ffffffaf, 1228px 136px #ffffffaf,
    645px 933px #ffffffaf, 1843px 442px #ffffffaf, 633px 817px #ffffffaf,
    1538px 136px #ffffffaf, 529px 1373px #ffffffaf, 776px 457px #ffffffaf,
    625px 1732px #ffffffaf, 132px 661px #ffffffaf, 1943px 137px #ffffffaf,
    943px 1688px #ffffffaf, 1827px 184px #ffffffaf, 645px 1643px #ffffffaf,
    1896px 679px #ffffffaf, 167px 183px #ffffffaf, 870px 138px #ffffffaf,
    487px 1788px #ffffffaf, 500px 1766px #ffffffaf, 1988px 1587px #ffffffaf,
    402px 60px #ffffffaf, 1831px 1762px #ffffffaf, 1417px 1204px #ffffffaf,
    484px 1266px #ffffffaf, 1634px 1079px #ffffffaf, 1606px 59px #ffffffaf,
    785px 1729px #ffffffaf, 451px 1887px #ffffffaf, 1151px 62px #ffffffaf,
    394px 952px #ffffffaf, 1239px 1474px #ffffffaf, 1934px 1942px #ffffffaf,
    1947px 1306px #ffffffaf, 1103px 70px #ffffffaf, 1726px 1402px #ffffffaf,
    154px 510px #ffffffaf, 1617px 922px #ffffffaf, 1453px 489px #ffffffaf,
    258px 73px #ffffffaf, 57px 127px #ffffffaf, 1736px 850px #ffffffaf,
    1177px 1853px #ffffffaf, 1209px 1705px #ffffffaf, 122px 1362px #ffffffaf,
    1266px 976px #ffffffaf, 1708px 313px #ffffffaf, 1897px 1938px #ffffffaf,
    1146px 660px #ffffffaf, 818px 493px #ffffffaf, 1610px 913px #ffffffaf,
    403px 1275px #ffffffaf, 548px 1815px #ffffffaf, 981px 1588px #ffffffaf,
    1108px 1075px #ffffffaf, 414px 1809px #ffffffaf, 1613px 1108px #ffffffaf,
    405px 438px #ffffffaf, 1692px 684px #ffffffaf, 794px 857px #ffffffaf,
    1369px 304px #ffffffaf, 247px 1360px #ffffffaf, 1473px 1476px #ffffffaf,
    1144px 1901px #ffffffaf, 167px 1077px #ffffffaf, 1362px 507px #ffffffaf,
    867px 221px #ffffffaf, 1865px 764px #ffffffaf, 1316px 1308px #ffffffaf,
    1829px 983px #ffffffaf, 149px 1263px #ffffffaf, 232px 872px #ffffffaf,
    829px 98px #ffffffaf, 1957px 605px #ffffffaf, 1181px 1673px #ffffffaf,
    1083px 494px #ffffffaf, 306px 819px #ffffffaf, 806px 1969px #ffffffaf,
    825px 192px #ffffffaf, 1184px 750px #ffffffaf, 1934px 1347px #ffffffaf,
    949px 331px #ffffffaf, 300px 534px #ffffffaf, 1778px 1411px #ffffffaf,
    568px 1743px #ffffffaf, 1654px 1371px #ffffffaf, 399px 1423px #ffffffaf,
    1940px 1860px #ffffffaf, 196px 774px #ffffffaf, 1888px 563px #ffffffaf,
    444px 153px #ffffffaf, 1926px 35px #ffffffaf, 540px 1035px #ffffffaf,
    1267px 1759px #ffffffaf, 1479px 1030px #ffffffaf, 154px 1038px #ffffffaf,
    268px 1616px #ffffffaf, 1978px 1481px #ffffffaf, 1594px 384px #ffffffaf,
    1499px 1061px #ffffffaf, 1946px 1248px #ffffffaf, 1903px 1000px #ffffffaf,
    1174px 223px #ffffffaf, 1455px 1235px #ffffffaf, 1789px 576px #ffffffaf,
    779px 1707px #ffffffaf, 1249px 753px #ffffffaf, 195px 1696px #ffffffaf,
    1422px 1400px #ffffffaf, 944px 241px #ffffffaf, 2px 1767px #ffffffaf,
    1615px 1282px #ffffffaf, 1513px 1655px #ffffffaf, 223px 1807px #ffffffaf,
    852px 1234px #ffffffaf, 310px 896px #ffffffaf, 1831px 1222px #ffffffaf,
    1597px 430px #ffffffaf, 1601px 1270px #ffffffaf, 365px 521px #ffffffaf,
    764px 729px #ffffffaf, 1671px 1888px #ffffffaf, 1509px 285px #ffffffaf,
    305px 1646px #ffffffaf, 1361px 962px #ffffffaf, 90px 526px #ffffffaf,
    1626px 595px #ffffffaf, 82px 1318px #ffffffaf, 502px 1609px #ffffffaf,
    180px 1970px #ffffffaf, 1466px 1552px #ffffffaf, 1083px 271px #ffffffaf,
    50px 1027px #ffffffaf, 1506px 438px #ffffffaf, 1864px 71px #ffffffaf,
    1332px 509px #ffffffaf, 952px 654px #ffffffaf, 1005px 322px #ffffffaf,
    1693px 1994px #ffffffaf, 585px 1412px #ffffffaf, 1539px 764px #ffffffaf,
    1580px 414px #ffffffaf, 1572px 1858px #ffffffaf, 633px 82px #ffffffaf,
    1740px 1687px #ffffffaf, 257px 1982px #ffffffaf, 1252px 24px #ffffffaf,
    231px 1873px #ffffffaf, 1485px 1903px #ffffffaf, 282px 1186px #ffffffaf,
    392px 1703px #ffffffaf, 1072px 1329px #ffffffaf, 743px 1642px #ffffffaf,
    1087px 1743px #ffffffaf, 1898px 1335px #ffffffaf, 142px 570px #ffffffaf,
    1943px 386px #ffffffaf, 447px 1944px #ffffffaf, 899px 1274px #ffffffaf,
    1935px 388px #ffffffaf, 1823px 919px #ffffffaf, 1600px 277px #ffffffaf,
    877px 967px #ffffffaf, 946px 946px #ffffffaf, 1708px 588px #ffffffaf,
    24px 982px #ffffffaf, 7px 1252px #ffffffaf, 1603px 552px #ffffffaf,
    1544px 187px #ffffffaf, 1670px 203px #ffffffaf, 405px 1963px #ffffffaf,
    755px 1556px #ffffffaf, 1006px 1474px #ffffffaf, 1496px 97px #ffffffaf,
    450px 1099px #ffffffaf, 1112px 1722px #ffffffaf, 227px 1013px #ffffffaf,
    1749px 1717px #ffffffaf, 1169px 1357px #ffffffaf, 1563px 1131px #ffffffaf,
    681px 31px #ffffffaf, 1144px 1513px #ffffffaf, 1818px 528px #ffffffaf,
    1787px 1568px #ffffffaf, 1004px 1508px #ffffffaf, 1050px 905px #ffffffaf,
    793px 1152px #ffffffaf, 1527px 1851px #ffffffaf, 1926px 371px #ffffffaf,
    1961px 1013px #ffffffaf, 1783px 334px #ffffffaf, 925px 232px #ffffffaf,
    1208px 250px #ffffffaf, 735px 826px #ffffffaf, 1558px 1786px #ffffffaf,
    1305px 1761px #ffffffaf, 1437px 262px #ffffffaf, 1971px 1981px #ffffffaf,
    174px 660px #ffffffaf, 1621px 668px #ffffffaf, 1112px 559px #ffffffaf,
    200px 1495px #ffffffaf, 1332px 1170px #ffffffaf, 600px 1589px #ffffffaf,
    231px 926px #ffffffaf, 1674px 603px #ffffffaf, 1845px 390px #ffffffaf,
    569px 279px #ffffffaf, 314px 533px #ffffffaf, 494px 1765px #ffffffaf,
    1640px 850px #ffffffaf, 624px 961px #ffffffaf, 781px 1097px #ffffffaf,
    1199px 1643px #ffffffaf, 165px 938px #ffffffaf, 670px 1116px #ffffffaf,
    608px 1393px #ffffffaf, 583px 1062px #ffffffaf, 1666px 1082px #ffffffaf,
    911px 1390px #ffffffaf, 1735px 1867px #ffffffaf, 1717px 1966px #ffffffaf,
    905px 1080px #ffffffaf, 1725px 120px #ffffffaf, 145px 819px #ffffffaf,
    957px 352px #ffffffaf, 628px 228px #ffffffaf, 821px 974px #ffffffaf,
    1151px 1208px #ffffffaf, 1803px 1800px #ffffffaf, 616px 1471px #ffffffaf,
    1512px 1785px #ffffffaf, 131px 1983px #ffffffaf, 583px 836px #ffffffaf,
    1095px 197px #ffffffaf, 638px 1371px #ffffffaf, 1938px 1758px #ffffffaf,
    1089px 597px #ffffffaf, 232px 124px #ffffffaf, 1267px 1659px #ffffffaf,
    135px 982px #ffffffaf, 838px 1591px #ffffffaf, 628px 1790px #ffffffaf,
    905px 272px #ffffffaf, 114px 1380px #ffffffaf, 1406px 874px #ffffffaf,
    894px 1287px #ffffffaf, 594px 1208px #ffffffaf, 996px 997px #ffffffaf,
    1572px 1109px #ffffffaf, 1191px 611px #ffffffaf, 1759px 1290px #ffffffaf,
    819px 906px #ffffffaf, 748px 910px #ffffffaf, 1125px 1627px #ffffffaf,
    766px 744px #ffffffaf, 1647px 99px #ffffffaf, 1289px 1077px #ffffffaf,
    498px 1817px #ffffffaf, 1140px 354px #ffffffaf, 1899px 1950px #ffffffaf,
    800px 1244px #ffffffaf, 804px 1880px #ffffffaf, 1896px 1095px #ffffffaf,
    696px 1089px #ffffffaf, 1379px 1089px #ffffffaf, 929px 1800px #ffffffaf,
    188px 505px #ffffffaf, 1494px 640px #ffffffaf, 1977px 1076px #ffffffaf,
    394px 240px #ffffffaf, 49px 954px #ffffffaf, 706px 1585px #ffffffaf,
    631px 1910px #ffffffaf, 1928px 1829px #ffffffaf, 373px 392px #ffffffaf,
    978px 783px #ffffffaf, 425px 963px #ffffffaf, 1565px 1673px #ffffffaf,
    984px 507px #ffffffaf, 484px 299px #ffffffaf, 188px 491px #ffffffaf,
    1753px 1834px #ffffffaf, 1732px 1674px #ffffffaf, 1252px 95px #ffffffaf,
    24px 322px #ffffffaf, 1499px 759px #ffffffaf, 563px 1868px #ffffffaf,
    1578px 1103px #ffffffaf, 1395px 1504px #ffffffaf, 16px 803px #ffffffaf,
    1158px 780px #ffffffaf, 104px 524px #ffffffaf, 873px 531px #ffffffaf,
    1375px 1009px #ffffffaf, 738px 621px #ffffffaf, 875px 862px #ffffffaf,
    941px 1218px #ffffffaf, 1390px 794px #ffffffaf, 1945px 637px #ffffffaf,
    1176px 18px #ffffffaf, 312px 1989px #ffffffaf, 669px 679px #ffffffaf,
    387px 544px #ffffffaf, 1183px 708px #ffffffaf, 1847px 1686px #ffffffaf,
    786px 1097px #ffffffaf, 173px 1035px #ffffffaf, 1301px 1729px #ffffffaf,
    652px 1600px #ffffffaf, 1321px 222px #ffffffaf, 486px 1781px #ffffffaf,
    232px 1391px #ffffffaf, 302px 816px #ffffffaf, 493px 742px #ffffffaf,
    1428px 932px #ffffffaf, 1876px 653px #ffffffaf, 1347px 1184px #ffffffaf,
    320px 1025px #ffffffaf, 71px 1926px #ffffffaf, 245px 1732px #ffffffaf,
    34px 1210px #ffffffaf, 1586px 881px #ffffffaf, 1975px 156px #ffffffaf,
    1472px 1266px #ffffffaf, 1294px 1706px #ffffffaf, 1357px 1237px #ffffffaf,
    851px 1742px #ffffffaf, 635px 522px #ffffffaf, 315px 1579px #ffffffaf,
    118px 189px #ffffffaf, 484px 391px #ffffffaf, 378px 81px #ffffffaf,
    1124px 1684px #ffffffaf, 1684px 1885px #ffffffaf, 1815px 485px #ffffffaf,
    1232px 339px #ffffffaf, 846px 1527px #ffffffaf, 202px 1558px #ffffffaf,
    1080px 1556px #ffffffaf, 1735px 1384px #ffffffaf, 1931px 762px #ffffffaf,
    604px 1119px #ffffffaf, 1673px 1471px #ffffffaf, 1856px 1484px #ffffffaf,
    155px 818px #ffffffaf, 1026px 1178px #ffffffaf, 1425px 719px #ffffffaf,
    799px 663px #ffffffaf, 905px 223px #ffffffaf, 1325px 1062px #ffffffaf,
    420px 242px #ffffffaf, 1983px 1294px #ffffffaf, 620px 1703px #ffffffaf,
    322px 1724px #ffffffaf, 373px 1847px #ffffffaf;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1446px 906px #ffffffaf, 1931px 314px #ffffffaf,
    1766px 649px #ffffffaf, 1619px 895px #ffffffaf, 1729px 1871px #ffffffaf,
    1468px 1099px #ffffffaf, 1689px 1921px #ffffffaf, 162px 785px #ffffffaf,
    1648px 1542px #ffffffaf, 1392px 1945px #ffffffaf, 636px 910px #ffffffaf,
    912px 1201px #ffffffaf, 1108px 1672px #ffffffaf, 157px 407px #ffffffaf,
    1476px 578px #ffffffaf, 680px 590px #ffffffaf, 1981px 582px #ffffffaf,
    760px 1947px #ffffffaf, 496px 355px #ffffffaf, 1951px 1227px #ffffffaf,
    1613px 1026px #ffffffaf, 116px 866px #ffffffaf, 1476px 904px #ffffffaf,
    1706px 851px #ffffffaf, 191px 726px #ffffffaf, 1400px 1395px #ffffffaf,
    607px 282px #ffffffaf, 851px 1037px #ffffffaf, 1255px 1072px #ffffffaf,
    297px 338px #ffffffaf, 112px 1072px #ffffffaf, 966px 1764px #ffffffaf,
    232px 1444px #ffffffaf, 1277px 1222px #ffffffaf, 1413px 1055px #ffffffaf,
    1116px 108px #ffffffaf, 1030px 1956px #ffffffaf, 1786px 711px #ffffffaf,
    631px 1067px #ffffffaf, 382px 1882px #ffffffaf, 1497px 1195px #ffffffaf,
    1928px 878px #ffffffaf, 984px 54px #ffffffaf, 752px 633px #ffffffaf,
    1237px 1870px #ffffffaf, 1827px 1324px #ffffffaf, 519px 774px #ffffffaf,
    79px 1920px #ffffffaf, 1538px 965px #ffffffaf, 1009px 947px #ffffffaf,
    248px 1631px #ffffffaf, 1157px 62px #ffffffaf, 311px 654px #ffffffaf,
    545px 326px #ffffffaf, 121px 176px #ffffffaf, 1344px 1681px #ffffffaf,
    645px 1761px #ffffffaf, 1968px 942px #ffffffaf, 514px 1675px #ffffffaf,
    950px 1621px #ffffffaf, 1229px 838px #ffffffaf, 1516px 302px #ffffffaf,
    580px 1425px #ffffffaf, 505px 460px #ffffffaf, 1604px 916px #ffffffaf,
    1869px 137px #ffffffaf, 946px 1470px #ffffffaf, 1398px 1389px #ffffffaf,
    1600px 911px #ffffffaf, 1044px 726px #ffffffaf, 1918px 1172px #ffffffaf,
    1251px 1643px #ffffffaf, 714px 1393px #ffffffaf, 1103px 1182px #ffffffaf,
    1436px 1451px #ffffffaf, 1471px 242px #ffffffaf, 28px 826px #ffffffaf,
    796px 1166px #ffffffaf, 1643px 1580px #ffffffaf, 1307px 1518px #ffffffaf,
    980px 786px #ffffffaf, 1239px 1729px #ffffffaf, 1266px 1911px #ffffffaf,
    577px 1576px #ffffffaf, 1305px 764px #ffffffaf, 1406px 1813px #ffffffaf,
    206px 1057px #ffffffaf, 751px 1183px #ffffffaf, 431px 182px #ffffffaf,
    125px 971px #ffffffaf, 463px 777px #ffffffaf, 826px 1268px #ffffffaf,
    1197px 1660px #ffffffaf, 323px 649px #ffffffaf, 2px 784px #ffffffaf,
    359px 382px #ffffffaf, 1414px 333px #ffffffaf, 1075px 1640px #ffffffaf,
    1470px 1555px #ffffffaf, 806px 666px #ffffffaf, 1433px 1672px #ffffffaf,
    1902px 1128px #ffffffaf, 1328px 1796px #ffffffaf, 1072px 1302px #ffffffaf,
    1250px 1075px #ffffffaf, 46px 575px #ffffffaf, 26px 201px #ffffffaf,
    870px 1234px #ffffffaf, 330px 807px #ffffffaf, 1542px 1074px #ffffffaf,
    1574px 1632px #ffffffaf, 1735px 506px #ffffffaf, 56px 358px #ffffffaf,
    979px 1786px #ffffffaf, 1864px 314px #ffffffaf, 611px 1261px #ffffffaf,
    527px 111px #ffffffaf, 335px 1351px #ffffffaf, 932px 1757px #ffffffaf,
    585px 639px #ffffffaf, 1483px 1475px #ffffffaf, 145px 1942px #ffffffaf,
    1045px 673px #ffffffaf, 1823px 302px #ffffffaf, 607px 1558px #ffffffaf,
    400px 1350px #ffffffaf, 845px 1650px #ffffffaf, 996px 1950px #ffffffaf,
    1686px 1512px #ffffffaf, 1960px 209px #ffffffaf, 1221px 1558px #ffffffaf,
    766px 1296px #ffffffaf, 1063px 1367px #ffffffaf, 1460px 1539px #ffffffaf,
    443px 481px #ffffffaf, 878px 867px #ffffffaf, 1369px 866px #ffffffaf,
    1968px 1309px #ffffffaf, 1152px 457px #ffffffaf, 1993px 151px #ffffffaf,
    1168px 453px #ffffffaf, 624px 1511px #ffffffaf, 553px 817px #ffffffaf,
    1758px 27px #ffffffaf, 122px 660px #ffffffaf, 1738px 1342px #ffffffaf,
    1739px 1955px #ffffffaf, 891px 1799px #ffffffaf, 870px 221px #ffffffaf,
    9px 1403px #ffffffaf, 1876px 125px #ffffffaf, 1189px 1791px #ffffffaf,
    1741px 135px #ffffffaf, 118px 954px #ffffffaf, 769px 748px #ffffffaf,
    987px 1820px #ffffffaf, 28px 79px #ffffffaf, 496px 191px #ffffffaf,
    1045px 1052px #ffffffaf, 703px 510px #ffffffaf, 1021px 1608px #ffffffaf,
    347px 684px #ffffffaf, 22px 1601px #ffffffaf, 1339px 789px #ffffffaf,
    715px 281px #ffffffaf, 1315px 257px #ffffffaf, 188px 1203px #ffffffaf,
    819px 1468px #ffffffaf, 1354px 824px #ffffffaf, 660px 1551px #ffffffaf,
    275px 694px #ffffffaf, 1559px 1815px #ffffffaf, 1311px 241px #ffffffaf,
    402px 1340px #ffffffaf, 1153px 1313px #ffffffaf, 1378px 1273px #ffffffaf,
    1537px 477px #ffffffaf, 134px 773px #ffffffaf, 651px 1215px #ffffffaf,
    1873px 1669px #ffffffaf, 1360px 1454px #ffffffaf, 1341px 222px #ffffffaf,
    477px 507px #ffffffaf, 955px 1061px #ffffffaf, 322px 1535px #ffffffaf,
    1583px 756px #ffffffaf, 1745px 851px #ffffffaf, 657px 1391px #ffffffaf,
    1748px 496px #ffffffaf, 1064px 1953px #ffffffaf, 420px 913px #ffffffaf,
    1667px 1986px #ffffffaf, 231px 307px #ffffffaf, 1627px 458px #ffffffaf,
    871px 917px #ffffffaf, 241px 366px #ffffffaf, 1721px 1069px #ffffffaf,
    1230px 64px #ffffffaf, 440px 810px #ffffffaf, 256px 1835px #ffffffaf;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1446px 906px #ffffffaf, 1931px 314px #ffffffaf,
    1766px 649px #ffffffaf, 1619px 895px #ffffffaf, 1729px 1871px #ffffffaf,
    1468px 1099px #ffffffaf, 1689px 1921px #ffffffaf, 162px 785px #ffffffaf,
    1648px 1542px #ffffffaf, 1392px 1945px #ffffffaf, 636px 910px #ffffffaf,
    912px 1201px #ffffffaf, 1108px 1672px #ffffffaf, 157px 407px #ffffffaf,
    1476px 578px #ffffffaf, 680px 590px #ffffffaf, 1981px 582px #ffffffaf,
    760px 1947px #ffffffaf, 496px 355px #ffffffaf, 1951px 1227px #ffffffaf,
    1613px 1026px #ffffffaf, 116px 866px #ffffffaf, 1476px 904px #ffffffaf,
    1706px 851px #ffffffaf, 191px 726px #ffffffaf, 1400px 1395px #ffffffaf,
    607px 282px #ffffffaf, 851px 1037px #ffffffaf, 1255px 1072px #ffffffaf,
    297px 338px #ffffffaf, 112px 1072px #ffffffaf, 966px 1764px #ffffffaf,
    232px 1444px #ffffffaf, 1277px 1222px #ffffffaf, 1413px 1055px #ffffffaf,
    1116px 108px #ffffffaf, 1030px 1956px #ffffffaf, 1786px 711px #ffffffaf,
    631px 1067px #ffffffaf, 382px 1882px #ffffffaf, 1497px 1195px #ffffffaf,
    1928px 878px #ffffffaf, 984px 54px #ffffffaf, 752px 633px #ffffffaf,
    1237px 1870px #ffffffaf, 1827px 1324px #ffffffaf, 519px 774px #ffffffaf,
    79px 1920px #ffffffaf, 1538px 965px #ffffffaf, 1009px 947px #ffffffaf,
    248px 1631px #ffffffaf, 1157px 62px #ffffffaf, 311px 654px #ffffffaf,
    545px 326px #ffffffaf, 121px 176px #ffffffaf, 1344px 1681px #ffffffaf,
    645px 1761px #ffffffaf, 1968px 942px #ffffffaf, 514px 1675px #ffffffaf,
    950px 1621px #ffffffaf, 1229px 838px #ffffffaf, 1516px 302px #ffffffaf,
    580px 1425px #ffffffaf, 505px 460px #ffffffaf, 1604px 916px #ffffffaf,
    1869px 137px #ffffffaf, 946px 1470px #ffffffaf, 1398px 1389px #ffffffaf,
    1600px 911px #ffffffaf, 1044px 726px #ffffffaf, 1918px 1172px #ffffffaf,
    1251px 1643px #ffffffaf, 714px 1393px #ffffffaf, 1103px 1182px #ffffffaf,
    1436px 1451px #ffffffaf, 1471px 242px #ffffffaf, 28px 826px #ffffffaf,
    796px 1166px #ffffffaf, 1643px 1580px #ffffffaf, 1307px 1518px #ffffffaf,
    980px 786px #ffffffaf, 1239px 1729px #ffffffaf, 1266px 1911px #ffffffaf,
    577px 1576px #ffffffaf, 1305px 764px #ffffffaf, 1406px 1813px #ffffffaf,
    206px 1057px #ffffffaf, 751px 1183px #ffffffaf, 431px 182px #ffffffaf,
    125px 971px #ffffffaf, 463px 777px #ffffffaf, 826px 1268px #ffffffaf,
    1197px 1660px #ffffffaf, 323px 649px #ffffffaf, 2px 784px #ffffffaf,
    359px 382px #ffffffaf, 1414px 333px #ffffffaf, 1075px 1640px #ffffffaf,
    1470px 1555px #ffffffaf, 806px 666px #ffffffaf, 1433px 1672px #ffffffaf,
    1902px 1128px #ffffffaf, 1328px 1796px #ffffffaf, 1072px 1302px #ffffffaf,
    1250px 1075px #ffffffaf, 46px 575px #ffffffaf, 26px 201px #ffffffaf,
    870px 1234px #ffffffaf, 330px 807px #ffffffaf, 1542px 1074px #ffffffaf,
    1574px 1632px #ffffffaf, 1735px 506px #ffffffaf, 56px 358px #ffffffaf,
    979px 1786px #ffffffaf, 1864px 314px #ffffffaf, 611px 1261px #ffffffaf,
    527px 111px #ffffffaf, 335px 1351px #ffffffaf, 932px 1757px #ffffffaf,
    585px 639px #ffffffaf, 1483px 1475px #ffffffaf, 145px 1942px #ffffffaf,
    1045px 673px #ffffffaf, 1823px 302px #ffffffaf, 607px 1558px #ffffffaf,
    400px 1350px #ffffffaf, 845px 1650px #ffffffaf, 996px 1950px #ffffffaf,
    1686px 1512px #ffffffaf, 1960px 209px #ffffffaf, 1221px 1558px #ffffffaf,
    766px 1296px #ffffffaf, 1063px 1367px #ffffffaf, 1460px 1539px #ffffffaf,
    443px 481px #ffffffaf, 878px 867px #ffffffaf, 1369px 866px #ffffffaf,
    1968px 1309px #ffffffaf, 1152px 457px #ffffffaf, 1993px 151px #ffffffaf,
    1168px 453px #ffffffaf, 624px 1511px #ffffffaf, 553px 817px #ffffffaf,
    1758px 27px #ffffffaf, 122px 660px #ffffffaf, 1738px 1342px #ffffffaf,
    1739px 1955px #ffffffaf, 891px 1799px #ffffffaf, 870px 221px #ffffffaf,
    9px 1403px #ffffffaf, 1876px 125px #ffffffaf, 1189px 1791px #ffffffaf,
    1741px 135px #ffffffaf, 118px 954px #ffffffaf, 769px 748px #ffffffaf,
    987px 1820px #ffffffaf, 28px 79px #ffffffaf, 496px 191px #ffffffaf,
    1045px 1052px #ffffffaf, 703px 510px #ffffffaf, 1021px 1608px #ffffffaf,
    347px 684px #ffffffaf, 22px 1601px #ffffffaf, 1339px 789px #ffffffaf,
    715px 281px #ffffffaf, 1315px 257px #ffffffaf, 188px 1203px #ffffffaf,
    819px 1468px #ffffffaf, 1354px 824px #ffffffaf, 660px 1551px #ffffffaf,
    275px 694px #ffffffaf, 1559px 1815px #ffffffaf, 1311px 241px #ffffffaf,
    402px 1340px #ffffffaf, 1153px 1313px #ffffffaf, 1378px 1273px #ffffffaf,
    1537px 477px #ffffffaf, 134px 773px #ffffffaf, 651px 1215px #ffffffaf,
    1873px 1669px #ffffffaf, 1360px 1454px #ffffffaf, 1341px 222px #ffffffaf,
    477px 507px #ffffffaf, 955px 1061px #ffffffaf, 322px 1535px #ffffffaf,
    1583px 756px #ffffffaf, 1745px 851px #ffffffaf, 657px 1391px #ffffffaf,
    1748px 496px #ffffffaf, 1064px 1953px #ffffffaf, 420px 913px #ffffffaf,
    1667px 1986px #ffffffaf, 231px 307px #ffffffaf, 1627px 458px #ffffffaf,
    871px 917px #ffffffaf, 241px 366px #ffffffaf, 1721px 1069px #ffffffaf,
    1230px 64px #ffffffaf, 440px 810px #ffffffaf, 256px 1835px #ffffffaf;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1500px 86px #ffffffaf, 623px 1658px #ffffffaf,
    636px 122px #ffffffaf, 1465px 1989px #ffffffaf, 1254px 873px #ffffffaf,
    200px 1653px #ffffffaf, 1823px 1425px #ffffffaf, 1797px 470px #ffffffaf,
    687px 273px #ffffffaf, 1761px 15px #ffffffaf, 874px 1498px #ffffffaf,
    934px 1969px #ffffffaf, 203px 540px #ffffffaf, 491px 1842px #ffffffaf,
    1968px 1266px #ffffffaf, 502px 222px #ffffffaf, 1658px 340px #ffffffaf,
    1373px 1625px #ffffffaf, 1614px 1010px #ffffffaf, 1573px 1721px #ffffffaf,
    8px 1122px #ffffffaf, 151px 1523px #ffffffaf, 861px 1433px #ffffffaf,
    937px 1692px #ffffffaf, 1023px 635px #ffffffaf, 1879px 1079px #ffffffaf,
    1655px 395px #ffffffaf, 224px 1549px #ffffffaf, 742px 6px #ffffffaf,
    854px 374px #ffffffaf, 225px 329px #ffffffaf, 974px 307px #ffffffaf,
    175px 1496px #ffffffaf, 1544px 28px #ffffffaf, 1470px 360px #ffffffaf,
    1838px 1290px #ffffffaf, 1858px 282px #ffffffaf, 969px 1058px #ffffffaf,
    1451px 1748px #ffffffaf, 1818px 848px #ffffffaf, 1329px 1606px #ffffffaf,
    1410px 636px #ffffffaf, 874px 1991px #ffffffaf, 1453px 1334px #ffffffaf,
    702px 90px #ffffffaf, 152px 1729px #ffffffaf, 1235px 1587px #ffffffaf,
    1219px 326px #ffffffaf, 1795px 61px #ffffffaf, 997px 799px #ffffffaf,
    1154px 88px #ffffffaf, 1078px 801px #ffffffaf, 978px 1572px #ffffffaf,
    880px 1171px #ffffffaf, 577px 1397px #ffffffaf, 1644px 1111px #ffffffaf,
    1816px 656px #ffffffaf, 561px 196px #ffffffaf, 1275px 860px #ffffffaf,
    1589px 1974px #ffffffaf, 531px 730px #ffffffaf, 177px 251px #ffffffaf,
    1815px 340px #ffffffaf, 1284px 1455px #ffffffaf, 662px 1403px #ffffffaf,
    1263px 1750px #ffffffaf, 1581px 1757px #ffffffaf, 1238px 539px #ffffffaf,
    1629px 1027px #ffffffaf, 378px 332px #ffffffaf, 335px 1127px #ffffffaf,
    1685px 618px #ffffffaf, 969px 1882px #ffffffaf, 1051px 336px #ffffffaf,
    249px 1251px #ffffffaf, 1755px 1148px #ffffffaf, 417px 1581px #ffffffaf,
    886px 705px #ffffffaf, 451px 685px #ffffffaf, 128px 1125px #ffffffaf,
    881px 611px #ffffffaf, 695px 845px #ffffffaf, 1524px 1233px #ffffffaf,
    1615px 1300px #ffffffaf, 1413px 1587px #ffffffaf, 1186px 1406px #ffffffaf,
    1637px 61px #ffffffaf, 1918px 780px #ffffffaf, 1942px 966px #ffffffaf,
    684px 967px #ffffffaf, 1363px 708px #ffffffaf, 1665px 645px #ffffffaf,
    643px 1401px #ffffffaf, 1861px 1902px #ffffffaf, 618px 1224px #ffffffaf,
    1631px 695px #ffffffaf, 879px 1162px #ffffffaf, 1069px 603px #ffffffaf,
    137px 737px #ffffffaf, 1270px 487px #ffffffaf;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1500px 86px #ffffffaf, 623px 1658px #ffffffaf,
    636px 122px #ffffffaf, 1465px 1989px #ffffffaf, 1254px 873px #ffffffaf,
    200px 1653px #ffffffaf, 1823px 1425px #ffffffaf, 1797px 470px #ffffffaf,
    687px 273px #ffffffaf, 1761px 15px #ffffffaf, 874px 1498px #ffffffaf,
    934px 1969px #ffffffaf, 203px 540px #ffffffaf, 491px 1842px #ffffffaf,
    1968px 1266px #ffffffaf, 502px 222px #ffffffaf, 1658px 340px #ffffffaf,
    1373px 1625px #ffffffaf, 1614px 1010px #ffffffaf, 1573px 1721px #ffffffaf,
    8px 1122px #ffffffaf, 151px 1523px #ffffffaf, 861px 1433px #ffffffaf,
    937px 1692px #ffffffaf, 1023px 635px #ffffffaf, 1879px 1079px #ffffffaf,
    1655px 395px #ffffffaf, 224px 1549px #ffffffaf, 742px 6px #ffffffaf,
    854px 374px #ffffffaf, 225px 329px #ffffffaf, 974px 307px #ffffffaf,
    175px 1496px #ffffffaf, 1544px 28px #ffffffaf, 1470px 360px #ffffffaf,
    1838px 1290px #ffffffaf, 1858px 282px #ffffffaf, 969px 1058px #ffffffaf,
    1451px 1748px #ffffffaf, 1818px 848px #ffffffaf, 1329px 1606px #ffffffaf,
    1410px 636px #ffffffaf, 874px 1991px #ffffffaf, 1453px 1334px #ffffffaf,
    702px 90px #ffffffaf, 152px 1729px #ffffffaf, 1235px 1587px #ffffffaf,
    1219px 326px #ffffffaf, 1795px 61px #ffffffaf, 997px 799px #ffffffaf,
    1154px 88px #ffffffaf, 1078px 801px #ffffffaf, 978px 1572px #ffffffaf,
    880px 1171px #ffffffaf, 577px 1397px #ffffffaf, 1644px 1111px #ffffffaf,
    1816px 656px #ffffffaf, 561px 196px #ffffffaf, 1275px 860px #ffffffaf,
    1589px 1974px #ffffffaf, 531px 730px #ffffffaf, 177px 251px #ffffffaf,
    1815px 340px #ffffffaf, 1284px 1455px #ffffffaf, 662px 1403px #ffffffaf,
    1263px 1750px #ffffffaf, 1581px 1757px #ffffffaf, 1238px 539px #ffffffaf,
    1629px 1027px #ffffffaf, 378px 332px #ffffffaf, 335px 1127px #ffffffaf,
    1685px 618px #ffffffaf, 969px 1882px #ffffffaf, 1051px 336px #ffffffaf,
    249px 1251px #ffffffaf, 1755px 1148px #ffffffaf, 417px 1581px #ffffffaf,
    886px 705px #ffffffaf, 451px 685px #ffffffaf, 128px 1125px #ffffffaf,
    881px 611px #ffffffaf, 695px 845px #ffffffaf, 1524px 1233px #ffffffaf,
    1615px 1300px #ffffffaf, 1413px 1587px #ffffffaf, 1186px 1406px #ffffffaf,
    1637px 61px #ffffffaf, 1918px 780px #ffffffaf, 1942px 966px #ffffffaf,
    684px 967px #ffffffaf, 1363px 708px #ffffffaf, 1665px 645px #ffffffaf,
    643px 1401px #ffffffaf, 1861px 1902px #ffffffaf, 618px 1224px #ffffffaf,
    1631px 695px #ffffffaf, 879px 1162px #ffffffaf, 1069px 603px #ffffffaf,
    137px 737px #ffffffaf, 1270px 487px #ffffffaf;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
